* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
  }
  body {
    font-family: "Times New Roman", Times, serif;
    color: white;
    background-color: black;
  }
  .container {
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0rem 2rem;
  }
  .header {
    padding: 2rem;
    margin: 1rem 0rem;
    text-align: center;
  }
  .header > .title {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .title > hr {
    width: 18.5rem;
    margin-left: 36.2rem;
  }
  .header > .description {
    font-size: 1.2rem;
  }
  .sec {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 80rem;
    margin: 0rem auto;
    background: white;
    color: black;
    align-items: center;
    padding: 1rem 1rem 1rem 3rem;
  }
  section > blockquote {
    text-align: center;
    font-size: 3rem;
  }
  img {
    max-width: 100%;
  }
  .bio {
    text-align: center;
    margin: 3rem auto;
    padding: 0rem 18rem;
  }
  .bio > h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
  }
  .bio > p {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .bio > hr {
    margin-top: 1rem;
  }
  
  footer {
    text-align: center;
  }